{% extends 'webscraper/base.html' %}
{% block head %}
{% endblock head %}
{% block content%}
    <div class="content-section">
        <form method="POST" id="register-form">
            {% csrf_token %}
            <fieldset>
                <legend>Log In</legend>
                {{ form.as_p }}
            </fieldset>
            <div>
                <button type="submit">Login</button>
            </div>
        </form>
        <div>
            <small>need an account?      <a href="{% url 'register' %}">sign up now</a></small>
        </div>
    </div>
{% endblock content%}